:root{
    --warm-red: #D62828;
    --body-color: #F4F4F4;
    --button-padding: 0.8rem 1.4rem;
    --button-border-radius-sm: 0.5rem;
    --button-border-radius-md: 1rem;
    --transition-1: all 1s ease-in-out;
    --transition-03: all .3s ease-in-out;;
    --impact-font: "impact", sans-serif;
    --cairo-regular: "cairo-regular", sans-serif;
    --cairo-semibold: "cairo-semibold", sans-serif;
    --cairo-bold: "cairo-bold", sans-serif;
}
@font-face {
    font-family: "impact";
    src: url("../fonts/impact/impact.ttf") format("truetype");
}
@font-face {
    font-family: "cairo-regular";
    src: url("../fonts/cairo/static/Cairo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "cairo-semibold";
    src: url("../fonts/cairo/static/Cairo-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "cairo-bold";
    src: url("../fonts/cairo/static/Cairo-Bold.ttf") format("truetype");
}
html body{
    background-color: var(--body-color);
    font-family: var(--cairo-regular);
}
h2.section-title{
    font-family: var(--impact-font);
    margin-bottom: 2rem;
}
p{
    margin: 0;
}
.container{
    max-width: 100%!important;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
header .logo{
    width: 9rem;
}
header .logo img{
    height:100%;
    width:100%;
    object-fit:contain;
}
.hero-section{
    height: 57vh;
    width: 100%;
    position: relative;
}
.hero-section .card-img-top{
    height: 100%;
    width: 100%;
    border-radius: 0;
}
.hero-section .card-img-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero-section .card-img-overlay,
.hero-image .card-img-overlay{
    height: 100%;
    width: 100%;
    background:linear-gradient(to bottom, rgba(0,0,0,0.41), rgba(0,0,0,0.59));
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero-section .card-img-overlay .hero-title{
    color: white;
    font-family: var(--impact-font);
    
}

.hero-section .card-img-overlay .hero-description{
    color: rgb(255 255 255 / 90%);
    font-size: 1rem;
}
.hero-section .card-img-overlay .buttons-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero-section .card-img-overlay .buttons-wrapper .explore-menu,
.hero-section .card-img-overlay .buttons-wrapper .order-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    width: 52%;
    margin: auto;
}
.hero-section .card-img-overlay .buttons-wrapper .order-button{
    color: white;
    background-color: var(--warm-red);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius-sm);
}
.hero-section .card-img-overlay .buttons-wrapper .explore-menu{
    color: black;
    background-color: white;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius-sm);
}
.floating-section {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
.floating-section .col-lg-4{
    display: flex;
    align-items: center;
    gap:1rem;
}
.floating-section .icon{
    height:6rem;
    width:6rem;
}
.floating-section .section-title{
    font-family:var(--cairo-bold);
    margin-bottom:0;
}
.floating-section .icon img{
    height:100%;
    width:100%;
    object-fit:contain;
}
.best-seller .section-heading{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.best-seller .section-heading a{
    text-decoration:none;
    display:flex;
    align-items:center;
    gap: .5rem;
}
.best-seller .section-heading a span{
color:var(--warm-red);
}
.listed-items{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.listed-items .card{
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(0 0 0 / 15%);
}
.listed-items .card .card-img-overlay .tag{
    background-color:white;
    padding:.2rem .7rem;
    border-radius:var(--button-border-radius-sm);
    width:fit-content;
    height:fit-content;
    font-size:.95rem;
}
.listed-items .card .card-img-overlay{
    display:flex;
    justify-content:flex-end;
    padding:1.5rem;
}
.listed-items .card .card-title{
    font-family: var(--cairo-bold);
}
.listed-items .card .card-img-top{
    border-radius: 0;
    overflow: hidden;
    height: 14rem;
}
.listed-items .card .card-img-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: var(--transition-1);
}
.listed-items .menu-items-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.listed-items .menu-items-container .menu-item{
    width: 100%;
    height: 24rem;
}
.combo-deals{
    background-color: #F8F9FA;
}

.feedback-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.feedback-section h2.section-title{
    margin-bottom: 1rem;
}
.feedback-section p.section-description{
    color: rgb(0 0 0 / 80%);
    font-size: 1rem;
    margin-bottom: 2rem;
}
.feedback-section .feedback-cards-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.9rem;
}
.feedback-section .feedback-cards-container .col-lg-4{
    width: 100%;
}
.feedback-section .feedback-cards-container .col-lg-4 .card{
    border:none;
    padding:1.5rem;
    height: 100%;
}
.feedback-section .feedback-cards-container .col-lg-4 .card .rating-stars-container{
    display:flex;
    align-items:center;
    gap: 0.4rem;
    margin-bottom: 1rem;
}
.feedback-section .feedback-cards-container .col-lg-4 .card .user-name{
    font-family:var(--cairo-bold);
}
.feedback-section .submit-feedback{
    background-color: var(--warm-red);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius-sm);
    display: flex;
    align-items: center;
    gap: .5rem;
    border: none;
    margin:2rem auto 0;
    transition: var(--transition-03);
}
.feedback-section .submit-feedback span{
    color: white;
}
@media(min-width: 992px){
    .hero-section .card-img-overlay .buttons-wrapper .explore-menu, .hero-section .card-img-overlay .buttons-wrapper .order-button{
        width:fit-content;
        margin:0;
    }
    .hero-section {
    height: 80vh;
}
    .feedback-section .feedback-cards-container .col-lg-4{
    max-width:32.5%;
    height: 13rem;
}
    .floating-section.container {
    background-color: white;
    border-radius: 2rem;
    position: absolute;
    top: 66vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem;
    padding: 4rem 3rem;
    height: 14rem;
    max-width: 82%!important;
}
    .listed-items .menu-items-container .menu-item{
    max-width: 32.4%;
    height: 24rem;
}
    .best-seller.listed-items{
    padding-top: 10rem;
    padding-bottom:4rem;
}
    .floating-section .col-lg-4{
        max-width: 32%;
    }
}
@media(min-width:1200px){
    .container{
    max-width: 100%!important;
    padding-left: 9rem;
    padding-right: 9rem;
    margin: 0;
}
}